@font-face {
  font-family: "Gilroy";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Gilroy-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Gilroy-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Gilroy', sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  text-align: left;
  overflow-x: hidden;
}

a,
a:hover {
  text-decoration: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: unset;
  line-height: unset;
  margin: unset;
  padding: unset;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.fade {
  transition: opacity .15s linear;
}

.fade:not(.show) {
  opacity: 0;
}

[v-cloak] {
  display: none;
}

.swiper-container .swiper-pagination {
  position: static;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.swiper-container .swiper-pagination .swiper-pagination-bullet {
  position: relative;
  margin: 0 7px;
  width: 13px;
  height: 13px;
  background: #fff;
  opacity: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  border: 1px solid #085F97;
  background: #fff;
}

.swiper-container .swiper-pagination .swiper-pagination-bullet::before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #3d4c68;
}

.sandbox {
  padding-top: 50px;
  padding-bottom: 50px;
}

.sandbox_title .title {
  margin-bottom: 20px;
}

.sandbox_buttons .button {
  margin-bottom: 20px;
}

.sandbox_header {
  background: #3D4C68;
}

.sandbox_header .header {
  margin-bottom: 30px;
}

.sandbox_courses-menu {
  height: 1000px;
}

.sandbox_banners .banner {
  margin-bottom: 30px;
}

.sandbox_benefit {
  padding-top: 0;
}

.sandbox_benefit .sandbox__block {
  height: 500px;
  background: #0A2555;
}

.course-tile {
  padding: 40px;
  background: #fff;
  border-radius: 3px;
  filter: drop-shadow(0px 2px 14px rgba(7, 10, 36, 0.15));
  display: flex;
}

.course-tile:not(:last-child) {
  margin-bottom: 30px;
}

.course-tile__image-wrap {
  width: 225px;
  margin-right: 30px;
  flex-shrink: 0;
}

.course-tile__image {
  max-width: 100%;
}

.course-tile__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 34px;
  color: #085F97;
}

.course-tile__info {
  width: 100%;
  margin-right: 45px;
}

.course-tile__type {
  margin-top: 20px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #3d4c68;
}

.course-tile__contains {
  display: flex;
  align-items: center;
  margin-top: 5px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #3d4c68;
}

.course-tile__contain {
  display: flex;
  align-items: center;
}

.course-tile__contain:not(:last-child) {
  margin-right: 15px;
}

.course-tile__contain-number {
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  color: #0A2555;
  margin-right: 5px;
}

.course-tile__right {
  width: 100%;
}

.course-tile__prices {
  display: flex;
  align-items: flex-end;
}

.course-tile__prices_tablet {
  margin-top: 3px;
  justify-content: center;
}

.course-tile__price {
  color: #0A2555;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  order: 0;
}

.course-tile__price_old {
  margin-left: 12px;
  color: #085F97;
  font-size: 18px;
  line-height: 22px;
  transform: translateY(-4px);
  text-decoration: line-through;
  order: 1;
}

.course-tile__conditions {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #949BA4;
}

.course-tile__btn {
  margin-top: 15px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: max-content;
  max-width: 100%;
  background: #33A4D5;
  border-radius: 3px;
  color: #fff;
  height: 54px;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 0 40px;
}

.button:not(.button_disabled):hover {
  background: #2792C9;
  color: #fff;
}

.button:not(.button_disabled):active {
  background: #2188C2;
}

.button_disabled {
  background: #D6E1F0;
  cursor: not-allowed;
}

.button_invert {
  color: #33A4D4;
  border: 1px solid #33A4D4;
  background: transparent;
}

.button_invert:not(.button_disabled):hover {
  background: transparent;
  color: #2792C9;
  border-color: #2792C9;
}

.button_invert:not(.button_disabled):active {
  background: transparent;
  color: #2188C2;
  border-color: #2188C2;
}

.button_invert.button_disabled {
  color: #D6E1F0;
  border-color: #D6E1F0;
}

.button_thin {
  height: 44px;
}

.breadcrumbs {
  margin-top: 20px;
}

.breadcrumbs__item {
  font-size: 14px;
  line-height: 22px;
  color: #33A4D4;
  display: inline;
}

.breadcrumbs__item:not(:last-child) {
  margin-right: 6px;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "/";
  margin-left: 6px;
}

.breadcrumbs__item:last-child {
  color: #949BA4;
}

.title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  color: #085F97;
}

.title_small {
  font-size: 34px;
  line-height: 48px;
}

.title_center {
  text-align: center;
}

.review:not(:first-child) {
  margin-top: 57px;
}

.review::after {
  content: "";
  display: block;
  margin-top: 30px;
  width: 100%;
  height: 3px;
  background: url("../images/review/decor.svg") center no-repeat;
  background-size: auto 3px;
}

.review__top {
  display: flex;
  align-items: flex-end;
}

.review__photo {
  width: 120px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 30px;
}

.review__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review__name-and-age {
  display: flex;
  align-items: center;
}

.review__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #0A2555;
}

.review__age {
  margin-left: 10px;
}

.review__age::before {
  content: "|";
  opacity: .6;
  margin-right: 10px;
}

.review__position,
.review__age {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #0A2555;
}

.review__date {
  margin-top: 5px;
  font-size: 16px;
  line-height: 22px;
  color: #949BA4;
}

.review__text {
  margin-top: 20px;
  font-size: 18px;
  line-height: 26px;
  color: #3d4c68;
}

.header {
  background: #051127;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header_transparent {
  background: transparent;
}

.header__inner {
  display: grid;
  grid-template-columns: 1fr 226px 1fr;
  grid-gap: 68px;
}

.header__mobile-menu {
  display: none;
}

.header__mobile-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background: #0A2555;
}

.header_transparent .header__mobile-toggle {
  background: #051127;
}

.header__menu {
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 5px;
}

.header__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
}

.header__link_courses::before {
  content: "";
  width: 16px;
  height: 15px;
  background: url("../images/header/dots.svg") center no-repeat;
  background-size: contain;
  margin-right: 15px;
}

.header__language {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
  text-decoration: underline;
}

.header__language_active {
  text-decoration: none;
  font-weight: 600;
}

.header__language:not(:last-child) {
  margin-right: 5px;
}

.header__language:not(:last-child)::after {
  content: "|";
  margin-left: 5px;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo a {
  display: flex;
}

.header__logo img {
  max-width: 100%;
}

.courses-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 10;
}

.courses-menu::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  background: #3d4c68;
  z-index: -1;
}

.courses-menu__inner {
  background: #fff;
}

.courses-menu__head {
  padding-top: 47px;
}

.courses-menu__content {
  padding-top: 60px;
  padding-bottom: 100px;
}

.courses-menu__left {
  position: relative;
  background: #3d4c68;
  color: #fff;
}

.courses-menu__title {
  position: relative;
  margin-top: 33px;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  padding-bottom: 23px;
  width: max-content;
}

.courses-menu__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: url("../images/courses-menu/decor.svg") center no-repeat;
  background-size: auto 3px;
}

.courses-menu__levels {
  margin: 0;
  list-style: none;
  padding: 0 60px 0 0;
}

.courses-menu__levels .nav-item:not(:last-child) {
  margin-bottom: 30px;
}

.courses-menu__level {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.courses-menu__level_calendar {
  margin-top: 62px;
  font-weight: 700;
}

.courses-menu__level_calendar::after {
  display: none;
}

.courses-menu__level::after {
  content: "";
  width: 26px;
  height: 26px;
  background: url("../images/courses-menu/arrow.svg") center no-repeat;
  background-size: contain;
  margin-left: -15px;
}

.courses-menu__level.active,
.courses-menu__level:hover {
  color: #33A4D4;
}

.courses-menu__level.active::after,
.courses-menu__level:hover::after {
  background: url("../images/courses-menu/arrow-blue.svg") center no-repeat;
  background-size: contain;
}

.courses-menu__tags {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(61, 76, 104, 0.2);
  flex-wrap: wrap;
  margin-bottom: -11px;
}

.courses-menu__tag {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #3d4c68;
  margin-bottom: 11px;
}

.courses-menu__tag_active,
.courses-menu__tag:hover {
  color: #33A4D5;
}

.courses-menu__tag_online {
  margin-left: auto;
}

.courses-menu__tag_online::before {
  content: "";
  margin-right: 12px;
  width: 38px;
  height: 20px;
  background: url("../images/courses-menu/online-off.svg") left no-repeat;
  background-size: contain;
}

.courses-menu__tag_online.courses-menu__tag_active::before {
  background: url("../images/courses-menu/online-on.svg") left no-repeat;
  background-size: contain;
}

.courses-menu__tag_online.courses-menu__tag_active,
.courses-menu__tag_online.courses-menu__tag:hover {
  color: #3d4c68;
}

.courses-menu__tag:not(:last-child) {
  margin-right: 40px;
}

.courses-menu__courses {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px 60px;
}

.courses-menu__link {
  font-size: 18px;
  line-height: 26px;
  color: #3d4c68;
}

.courses-menu__link:hover {
  color: #33A4D5;
}

.courses-menu__link_hidden,
.courses-menu__link_hidden-online {
  display: none;
}

.calendar__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #085F97;
}

.calendar__component {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 4px;
}

.calendar__day-of-week {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #085F97;
  margin-bottom: 20px;
}

.calendar__day-of-week__weekend {
  color: #949BA4;
}

.calendar__day {
  position: relative;
  padding-top: 100%;
  border: 1px solid rgba(214, 225, 240, 0.5);
  border-radius: 3px;
  color: #3d4c68;
  user-select: none;
  transition: transform 150ms ease-in-out;
}

.calendar__day-content {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
}

.calendar__number {
  font-size: 14px;
  line-height: 20px;
}

.calendar__type {
  font-size: 12px;
  line-height: 18px;
}

.calendar__name {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
}

.calendar__tile {
  margin-top: 37px;
  background: #D6E1F0;
  border-radius: 3px;
  cursor: pointer;
}

.calendar__tile-content {
  padding: 20px 20px 30px;
}

.calendar__tile .calendar__type,
.calendar__tile .calendar__name {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #3d4c68;
}

.calendar__tile .calendar__name {
  margin-top: 10px;
}

.calendar__date {
  border-radius: 3px;
  padding: 0 20px;
  background: #3d4c68;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
}

.banner {
  background-size: cover;
  background-position: center;
}

.banner__inner {
  padding: 60px 0;
  background: rgba(10, 37, 85, 0.6);
  color: #fff;
}

.banner__title {
  position: relative;
  color: #fff;
  padding-bottom: 23px;
}

.banner__title_no-decor {
  padding-bottom: 0 !important;
}

.banner__title_no-decor::after {
  display: none;
}

.banner__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: url("../images/banner/decor.svg") left no-repeat;
  background-size: auto 100%;
}

.banner__subtitle {
  position: relative;
  margin-top: 5px;
  font-weight: 500;
  font-size: 26px;
  line-height: 34px;
  padding-bottom: 8px;
}

.banner__subtitle::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: url("../images/banner/decor-long.svg") left no-repeat;
  background-size: auto 100%;
}

.banner__description {
  margin-top: 25px;
  font-size: 20px;
  line-height: 32px;
}

.banner__description_small-mt {
  margin-top: 10px;
}

.banner__button {
  margin-top: 20px;
  width: 216px;
}

.banner__prices {
  display: flex;
  align-items: flex-end;
}

.banner__price {
  font-weight: 500;
  font-size: 50px;
  line-height: 75px;
}

.banner__price_old {
  font-size: 32px;
  line-height: 32px;
  font-weight: normal;
  margin-right: 12px;
  text-decoration: line-through;
  transform: translateY(-17px);
}

.banner__conditions {
  font-weight: 500;
  font-size: 25px;
  line-height: 27px;
}

.banner__timer {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.banner__timer-number {
  position: relative;
  width: 80px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
}

.banner__timer-number:not(:last-child) {
  margin-right: 35px;
}

.banner__timer-number:not(:last-child)::after {
  content: ":";
  position: absolute;
  right: -22px;
  font-size: 30px;
  line-height: 30px;
}

.examples__subtitle {
  margin-top: 18px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #0A2555;
}

.examples__sliders {
  margin-top: 30px;
}

.examples__slider {
  overflow: visible;
}

.examples__slider .swiper-wrapper {
  height: 308px;
}

.examples__slider_youtube .swiper-wrapper {
  height: 258px;
}

.examples__slider_youtube .examples__slide {
  position: relative;
  cursor: pointer;
}

.examples__slider_youtube .examples__slide::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 73px;
  height: 52px;
  background: url("../images/examples/play.svg") center no-repeat;
  background-size: contain;
}

.examples__slider:not(:last-child) {
  margin-bottom: 40px;
}

.examples__slide {
  width: auto;
}

.examples__slide img {
  height: 100%;
  width: auto;
}

.stages__wrap {
  margin-top: 60px;
}

.stages__row {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.stages__row::before {
  content: "";
  position: absolute;
  left: -100px;
  right: 0;
  bottom: 0;
  height: 2px;
  background: #085F97;
  transform-origin: left;
  transition: transform ease-in-out 700ms;
  transform: scaleX(0);
}

.stages__row:nth-child(even)::before {
  transform-origin: right;
}

.stages__row_active::before {
  transform: scaleX(1);
}

.stages__row:not(:last-child) {
  margin-bottom: 78px;
}

.stages__row:not(:last-child):nth-child(odd)::after {
  content: "";
  position: absolute;
  width: 2px;
  right: 0;
  bottom: -198px;
  height: 198px;
  background: #085F97;
  transform-origin: top;
  transition: transform ease-in-out 350ms;
  transform: scaleY(0);
}

.stages__row:not(:last-child):nth-child(even)::after {
  content: "";
  position: absolute;
  width: 2px;
  left: -100px;
  bottom: -198px;
  height: 198px;
  background: #085F97;
  transform-origin: top;
  transition: transform ease-in-out 350ms;
  transform: scaleY(0);
}

.stages__row_active-vertical::after {
  transform: scaleY(1) !important;
}

.stages__item {
  position: relative;
  height: 120px;
  width: 50%;
  display: flex;
  align-items: start;
}

.stages__item_active .stages__icon img,
.stages__item_active .stages__info {
  opacity: 1;
}

.stages__icon {
  height: 100%;
  flex-shrink: 0;
  background: #fff;
}

.stages__icon img {
  height: 100%;
  width: auto;
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.stages__info {
  position: relative;
  margin-left: 30px;
  padding-top: 9px;
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.stages__step {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #949BA4;
}

.stages__name {
  margin-top: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #0A2555;
}

.benefit {
  margin-top: -126px;
}

.benefit__hero {
  background: #fff;
  box-shadow: 0px -80px 50px rgba(17, 33, 62, 0.15);
  border-radius: 3px;
  padding: 52px 50px 0;
}

.benefit__title {
  position: relative;
  text-align: center;
  padding-bottom: 24px;
}

.benefit__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 4px;
  left: 0;
  right: 0;
  background: url("../images/benefit/decor.svg") center no-repeat;
  background-size: auto 100%;
}

.benefit__description {
  margin-top: 25px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #0A2555;
}

.benefit__grid {
  margin-top: 57px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 272px;
  grid-gap: 30px;
}

.benefit__tile {
  position: relative;
  z-index: 1;
  background: #fff;
  box-shadow: 0 5px 20px rgba(17, 33, 62, 0.15);
  border-radius: 3px;
  padding: 45px 45px 0;
  overflow: hidden;
}

.benefit__tile::before,
.benefit__tile::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background: url("../images/benefit/tile-decor.svg") top left no-repeat;
}

.benefit__tile::after {
  transform: rotate(180deg);
}

.benefit__tile-content {
  position: relative;
  z-index: 3;
}

.benefit__image {
  width: 101%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  object-fit: cover;
  -webkit-clip-path: circle(0 at 50px 50px);
  clip-path: circle(0 at 50px 50px);
  -webkit-transition: -webkit-clip-path 0.5s;
  transition: -webkit-clip-path 0.5s;
  transition: clip-path 0.5s;
  transition: clip-path 0.5s, -webkit-clip-path 0.5s;
}

.benefit__overlay {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #0A2555;
  opacity: 0;
  transition: all ease-in-out 0.7s;
}

.benefit__name {
  font-weight: 500;
  font-size: 26px;
  line-height: 34px;
  color: #085F97;
  transition: all ease-in-out 0.7s;
}

.benefit__caption {
  margin-top: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #3d4c68;
  transition: all ease-in-out 0.7s;
}

.benefit__tile:hover .benefit__image {
  -webkit-transition: -webkit-clip-path 1s 0.1s;
  transition: -webkit-clip-path 1s 0.1s;
  transition: clip-path 1s 0.1s;
  transition: clip-path 1s 0.1s, -webkit-clip-path 1s 0.1s;
  -webkit-clip-path: circle(150% at 0 0);
  clip-path: circle(150% at 0 0);
}

.benefit__tile:hover .benefit__overlay {
  opacity: 0.6;
}

.benefit__tile:hover .benefit__name,
.benefit__tile:hover .benefit__caption {
  color: #fff;
}

@media screen and (min-width: 576px) {
  .course-tile__prices_phone {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .course-tile__info {
    margin-right: 0;
  }

  .course-tile__prices_tablet {
    display: none;
  }

  .course-tile__btn_tablet {
    display: none;
  }

  .benefit__tile_vertical {
    grid-row: span 2;
  }

  .benefit__tile_horizontal {
    grid-column: span 2;
  }
}

@media screen and (min-width: 1200px) {
  .calendar__day_has-event:hover {
    background: #3d4c68;
    color: #fff;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(61, 76, 104, 0.4);
  }

  .calendar__tile {
    display: none;
  }
}

@media screen and (max-width: 1199.98px) {
  .course-tile {
    padding: 30px;
  }

  .course-tile__image-wrap {
    width: 180px;
  }

  .course-tile__title {
    font-size: 21px;
    line-height: 27px;
  }

  .course-tile__info {
    margin-right: 30px;
  }

  .button {
    padding: 0 30px;
  }

  .header__inner {
    grid-template-columns: 1fr 200px 1fr;
    grid-gap: 52px;
  }

  .calendar__day-of-week {
    text-align: center;
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 17px;
  }

  .calendar__day {
    border-radius: 5px;
    border: none;
  }

  .calendar__day_has-event {
    border: 1px solid #33A4D5;
  }

  .calendar__day_active {
    background: #33A4D5;
    color: #fff;
  }

  .calendar__day-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .calendar__type {
    display: none;
  }

  .calendar__name {
    display: none;
  }

  .stages__row::before {
    left: -80px;
  }

  .stages__row:not(:last-child):nth-child(even)::after {
    left: -80px;
  }

  .benefit__tile {
    padding: 34px 34px 0;
  }

  .benefit__tile::before,
  .benefit__tile::after {
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
  }
}

@media screen and (max-width: 991.98px) {
  .swiper-container .swiper-pagination {
    margin-top: 20px;
  }

  .course-tile:not(:last-child) {
    margin-bottom: 20px;
  }

  .course-tile__image-wrap {
    width: 136px;
  }

  .course-tile__title {
    font-size: 16px;
    line-height: 20px;
  }

  .course-tile__type {
    display: none;
  }

  .course-tile__contains {
    margin-top: 10px;
    font-size: 13px;
    line-height: 24px;
  }

  .course-tile__contain:not(:last-child) {
    margin-right: 10px;
  }

  .course-tile__contain-number {
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
  }

  .course-tile__right {
    display: none;
  }

  .course-tile__price {
    font-size: 22px;
    line-height: 38px;
    order: 1;
  }

  .course-tile__price_old {
    font-size: 18px;
    line-height: 22px;
    margin-left: 0;
    margin-right: 12px;
    transform: translateY(-7px);
    order: 0;
  }

  .course-tile__btn {
    margin-top: 10px;
  }

  .button {
    height: 44px;
  }

  .title {
    font-size: 25px;
    line-height: 34px;
  }

  .title_small {
    font-size: 22px;
    line-height: 32px;
  }

  .review:not(:first-child) {
    margin-top: 30px;
  }

  .review::after {
    margin-top: 12px;
  }

  .review__photo {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }

  .review__name {
    font-size: 14px;
    line-height: 20px;
  }

  .review__age::before {
    opacity: 1;
  }

  .review__position,
  .review__age {
    font-size: 14px;
    line-height: 20px;
  }

  .review__position {
    margin-top: 5px;
  }

  .review__date {
    font-size: 14px;
    line-height: 20px;
  }

  .review__text {
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
  }

  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .header__inner {
    grid-template-columns: 1fr 145px 1fr;
  }

  .header__menu {
    padding: 6px 3px;
    justify-content: space-around;
  }

  .header__link {
    font-size: 13px;
    line-height: 18px;
  }

  .header__link_desktop {
    display: none;
  }

  .header__link_courses::before {
    width: 18px;
    height: 11px;
    background: url("../images/header/burger.svg") center no-repeat;
    background-size: contain;
    margin-right: 10px;
  }

  .courses-menu__head {
    padding-top: 20px;
  }

  .courses-menu__content {
    padding-top: 80px;
  }

  .courses-menu__content_links {
    padding-left: 40px;
  }

  .courses-menu__title {
    margin-top: 26px;
    font-size: 25px;
    line-height: 34px;
    padding-bottom: 15px;
  }

  .courses-menu__levels {
    padding-right: 20px;
  }

  .courses-menu__level {
    font-size: 16px;
    line-height: 24px;
  }

  .courses-menu__level::after {
    width: 24px;
    height: 24px;
  }

  .courses-menu__tags {
    padding-bottom: 0;
    border-bottom: none;
  }

  .courses-menu__tag {
    font-size: 16px;
    line-height: 24px;
  }

  .courses-menu__tag_online {
    width: 100%;
    margin-left: 0;
  }

  .courses-menu__tag:not(:last-child) {
    margin-right: 20px;
  }

  .courses-menu__courses {
    margin-top: 40px;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .courses-menu__link {
    font-size: 14px;
    line-height: 20px;
  }

  .calendar__title {
    font-size: 18px;
    line-height: 23px;
  }

  .calendar__component {
    margin-top: 20px;
  }

  .banner__inner {
    padding: 30px 0 50px;
  }

  .banner__title {
    padding-bottom: 8px;
  }

  .banner__subtitle {
    font-size: 16px;
    line-height: 20px;
  }

  .banner__description {
    margin-top: 38px;
    font-size: 14px;
    line-height: 20px;
  }

  .banner__description_small-mt {
    margin-top: 10px;
  }

  .banner__price {
    font-size: 24px;
    line-height: 40px;
  }

  .banner__price_old {
    font-size: 15px;
    line-height: 26px;
    transform: translateY(-4px);
  }

  .banner__conditions {
    font-size: 18px;
    line-height: 26px;
  }

  .banner__timer-number {
    width: 60px;
    height: 90px;
    font-size: 24px;
    line-height: 36px;
  }

  .examples__subtitle {
    margin-top: 8px;
    font-size: 16px;
    line-height: 24px;
  }

  .examples__slider .swiper-wrapper {
    height: 160px;
  }

  .examples__slider_youtube .swiper-wrapper {
    height: 150px;
  }

  .examples__slider_youtube .examples__slide::before {
    width: 57px;
    height: 40px;
  }

  .examples__slider:not(:last-child) {
    margin-bottom: 25px;
  }

  .stages__wrap {
    margin-top: 30px;
  }

  .stages__row::before {
    left: 0;
  }

  .stages__row:not(:last-child) {
    margin-bottom: 58px;
  }

  .stages__row:not(:last-child):nth-child(odd)::after {
    bottom: -148px;
    height: 148px;
  }

  .stages__row:not(:last-child):nth-child(even)::after {
    left: 0;
    bottom: -148px;
    height: 148px;
  }

  .stages__item {
    height: 90px;
    padding-left: 50px;
  }

  .stages__step {
    font-size: 14px;
    line-height: 20px;
  }

  .stages__name {
    font-size: 14px;
    line-height: 20px;
  }

  .benefit {
    margin-top: -55px;
  }

  .benefit__hero {
    padding: 30px 30px 0;
  }

  .benefit__title {
    padding-bottom: 16px;
  }

  .benefit__description {
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
  }

  .benefit__grid {
    margin-top: 40px;
    grid-gap: 20px;
    grid-auto-rows: 180px;
    grid-template-columns: repeat(2, 1fr);
  }

  .benefit__name {
    font-size: 16px;
    line-height: 20px;
  }

  .benefit__caption {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 767.98px) {
  .review::after {
    margin-top: 22px;
  }

  .review__top {
    align-items: center;
  }

  .review__photo {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }

  .review__age {
    display: none;
  }

  .review__position,
  .review__age {
    font-size: 12px;
    line-height: 18px;
    color: #3d4c68;
  }

  .review__position {
    margin-top: 0;
  }

  .review__date {
    margin-top: 0;
    font-size: 12px;
    line-height: 18px;
  }

  .header {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .header__inner {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }

  .header__mobile-menu {
    display: flex;
    justify-content: center;
  }

  .header__menu {
    display: none;
  }

  .header__logo {
    width: 145px;
    margin-left: auto;
    margin-right: auto;
  }

  .calendar__title {
    text-align: center;
  }

  .calendar__tile {
    margin-top: 20px;
  }

  .banner__inner {
    padding: 40px 0 60px;
  }

  .banner__title {
    text-align: center;
  }

  .banner__title::after {
    background-position: center;
  }

  .banner__subtitle {
    text-align: center;
  }

  .banner__subtitle::after {
    background-position: center;
  }

  .banner__description {
    margin-top: 16px;
    text-align: center;
    margin-bottom: 10px;
  }

  .banner__button {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .banner__prices {
    margin-top: 35px;
    justify-content: center;
  }

  .banner__conditions {
    margin-top: 8px;
    text-align: center;
  }

  .banner__timer {
    justify-content: center;
  }

  .examples__subtitle {
    margin-top: 0;
  }

  .examples__slider .swiper-wrapper {
    height: 116px;
  }

  .examples__slider_youtube .swiper-wrapper {
    height: 135px;
  }

  .stages__row {
    flex-direction: column;
  }

  .stages__row:nth-child(even) {
    flex-direction: column-reverse;
  }

  .stages__row::before {
    display: none;
  }

  .stages__row:not(:last-child) {
    margin-bottom: 0;
  }

  .stages__row:not(:last-child):nth-child(odd)::after {
    display: none;
  }

  .stages__row:not(:last-child):nth-child(even)::after {
    display: none;
  }

  .stages__item {
    width: 100%;
    height: auto;
    padding-left: 0;
    margin-bottom: 15px;
  }

  .stages__icon {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .stages__icon::before {
    content: "";
    position: absolute;
    right: -19px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #3d4c68;
  }

  .stages__icon img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }

  .stages__info {
    padding-top: 0;
    margin-left: 36px;
  }

  .stages__step {
    font-size: 13px;
    line-height: 18px;
  }

  .stages__name {
    margin-top: 0;
  }
}

@media screen and (max-width: 575.98px) {
  .course-tile {
    padding-top: 20px;
  }

  .course-tile__image-wrap {
    display: none;
  }

  .course-tile__btn {
    margin-top: 4px;
  }
}