@@include('common/header.html')

<div class="sandbox container">
    <div class="row">
        <div class="col-md-7">

            <div class="calendar" id="calendarApp" v-cloak>
                <div class="calendar__title">{{ month }} {{ year }}</div>
                <div class="calendar__component">
                    <div class="calendar__day-of-week">ПН</div>
                    <div class="calendar__day-of-week">ВТ</div>
                    <div class="calendar__day-of-week">СР</div>
                    <div class="calendar__day-of-week">ЧТ</div>
                    <div class="calendar__day-of-week">ПТ</div>
                    <div class="calendar__day-of-week calendar__day-of-week__weekend">СБ</div>
                    <div class="calendar__day-of-week calendar__day-of-week__weekend">ВС</div>

                    <!-- empty days (offset) -->
                    <div class="calendar__day" v-for="index in firstDayOffset"></div>

                    <!-- days -->
                    <div class="calendar__day" v-for="index in daysInMonth" v-on:click="selectEvent(index)"
                         :class="{ 'calendar__day_has-event' : getEventByDay(index), 'calendar__day_active' : selectedDay == index }">
                        <div class="calendar__day-content">
                            <div class="calendar__number">{{ index }}</div>
                            <div v-if="getEventByDay(index)">
                                <div class="calendar__type">{{ getEventByDay(index).type }}</div>
                                <div class="calendar__name">{{ getEventByDay(index).name }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="calendar__tile" v-if="selectedEvent" v-on:click="goToEvent(selectedEvent)">
                    <div class="calendar__date">{{ selectedEvent.day }} {{ month_genitive }}</div>
                    <div class="calendar__tile-content">
                        <div class="calendar__type">{{ selectedEvent.type }}</div>
                        <div class="calendar__name">{{ selectedEvent.name }}</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@@include('common/footer.html')