.course-hero {

  &__photo {

    height: 358px;
    background: url("../images/course-hero/photo-bg.png") center no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 100%;
    }

  }

  &__right {
    padding-left: 26px;
  }

  &__contains {
    margin-top: 10px;
    font-size: 15px;
    line-height: 26px;
    color: #949BA4;
  }

}