.stages {

  &__wrap {
    margin-top: 60px;
  }

  &__row {

    position: relative;
    display: flex;
    align-items: flex-end;

    &::before {
      content: "";
      position: absolute;
      left: -100px;
      right: 0;
      bottom: 0;
      height: 2px;
      background: $blue;
      transform-origin: left;
      transition: transform ease-in-out 500ms;
      transform: scaleX(0);
    }

    &:nth-child(even) {

      &::before {
        transform-origin: right;
      }

    }

    &_active {

      &::before {
        transform: scaleX(1);
      }

    }

    &:not(:last-child) {

      margin-bottom: 78px;

      &:nth-child(odd) {

        &::after {
          content: "";
          position: absolute;
          width: 2px;
          right: 0;
          bottom: 0;
          height: 198px;
          background: $blue;
          transform: translateY(100%);
        }

      }

      &:nth-child(even) {

        &::after {
          content: "";
          position: absolute;
          width: 2px;
          left: -100px;
          bottom: 0;
          height: 198px;
          background: $blue;
          transform: translateY(100%);
        }

      }

    }

  }

  &__item {
    position: relative;
    height: 120px;
    width: 50%;
    display: flex;
    align-items: start;
  }

  &__icon {
    height: 100%;
    width: auto;
    flex-shrink: 0;
    background: $white;
  }

  &__info {
    position: relative;
    padding-left: 30px;
    padding-top: 9px;
  }

  &__step {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #949BA4;
  }

  &__name {
    margin-top: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: $dark-blue;
  }

}