@include font-face('Gilroy', '../fonts/Gilroy-Regular');
@include font-face('Gilroy', '../fonts/Gilroy-Medium', 500);
@include font-face('Gilroy', '../fonts/Gilroy-Semibold', 600);
@include font-face('Gilroy', '../fonts/Gilroy-Bold', 700);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Gilroy', sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(#000, 0);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  text-align: left;
  overflow-x: hidden;
}

a, a:hover {
  text-decoration: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: unset;
  line-height: unset;
  margin: unset;
  padding: unset;
}

.tab-content {

  > .tab-pane {
    display: none;
  }

  > .active {
    display: block;
  }

}

.fade {

  transition: opacity .15s linear;

  &:not(.show) {
    opacity: 0;
  }

}

[v-cloak] {
  display: none;
}

.swiper-container {

  .swiper-pagination {

    position: static;
    margin-top: 30px;
    display: flex;
    justify-content: center;

    @include laptop {
      margin-top: 20px;
    }

    .swiper-pagination-bullet {

      position: relative;
      margin: 0 7px;
      width: 13px;
      height: 13px;
      background: transparent;
      opacity: 1;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &-active {
        border: 1px solid #085F97;
        background: transparent;
      }

      &::before {
        content: "";
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: $dark-gray;
      }

    }

    &_white {

      .swiper-pagination-bullet {

        &-active {
          border-color: #33A4D5;
        }

        &::before {
          background: $white;
        }

      }

    }

  }

  .swiper-buttons {

    display: flex;

    .swiper-button-prev, .swiper-button-next {

      position: static;
      width: 50px;
      height: 50px;
      background: url("../images/common/swiper-arrow.svg") center no-repeat;
      margin-top: 0;

      &::after {
        display: none;
      }

    }

    .swiper-button-prev {
      margin-right: 10px;
    }

    .swiper-button-next {
      transform: rotate(180deg);
    }

  }

  .swiper-controls {

    margin-top: 30px;
    display: flex;
    align-items: center;

    @include laptop {
      margin-top: 20px;
      justify-content: center;
    }

    .swiper-buttons {

      margin-right: 50px;

      @include laptop {
        display: none;
      }

    }

    .swiper-pagination {
      margin-top: 0;
    }

  }

}