.sandbox {

  padding-top: 50px;
  padding-bottom: 50px;

  &_title {

    .title {
      margin-bottom: 20px;
    }

  }

  &_buttons {

    .button {
      margin-bottom: 20px;
    }

  }

  &_header {

    background: #3D4C68;

    .header {
      margin-bottom: 30px;
    }

  }

  &_courses-menu {

    height: 1000px;

  }

  &_banners {

    .banner {
      margin-bottom: 30px;
    }

  }

  &_benefit {

    padding-top: 0;

    .sandbox__block {

      height: 500px;
      background: $dark-blue;

      @include laptop {
        height: 200px;
      }

      @include tablet {
        display: none;
      }

    }

  }

  &_homepage-hero {
    padding-top: 0;
  }

  &_contacts {

    padding-top: 200px;

    @include laptop {
      padding-top: 100px;
    }

  }

  &_form {
    background: $dark-gray;
  }

  &_parallax {
    padding-top: 80vh;
    padding-bottom: 50vh;
  }

  &_mobile-menu {
    background: $dark-gray;
    height: 100vh;
  }

  &__comment {
    background: #D6E1F0;
    padding: 10px;
    border-radius: 4px;
    margin: 0 30px;
  }

}