.sandbox {

  padding-top: 50px;
  padding-bottom: 50px;

  &_title {

    .title {
      margin-bottom: 20px;
    }

  }

  &_buttons {

    .button {
      margin-bottom: 20px;
    }

  }

  &_header {

    background: #3D4C68;

    .header {
      margin-bottom: 30px;
    }

  }

  &_courses-menu {

    height: 1000px;

  }

  &_banners {

    .banner {
      margin-bottom: 30px;
    }

  }

  &_benefit {

    padding-top: 0;

    .sandbox__block {

      height: 500px;
      background: $dark-blue;

      @include laptop {
        height: 200px;
      }

      @include tablet {
        display: none;
      }

    }

  }

  &_homepage-hero {
    padding-top: 0;
  }

}